<input type="text" name="election title" placeholder="Election title"/>
        </br>
        <!-- this is input for candidate -->
       <div id="dvMain">
               <label id="lblNoOfRec">Enter number of candidates</label>
               <input type="text" id="NoOfCandidate">
               <input type="button" value="CREATE" id="btnCandidate"/>
        </div>
</br>
<div id="showCandidate">

</div>
<div id="dvMain">
        <label id="lblNoOfRec">Enter number of voters</label>
        <input type="text" id="NoOfVoters">
        <input type="button" value="CREATE" id="btnVoters"/>
 </div>
<div id="showVoters">

</div>
</br>
<input type="text" name="description" placeholder="Description"/>
        </br>
</br>
<label for="day">Day</label>
<select id="day">
        <option value="select day">Select Day</option>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
  <option value="friday">Friday</option>
  <option value="saturday">Saturday</option>
  <option value="sunday">Sunday</option>

</select>

<label for="hours">Hours</label>
<select id="hours">
        <option value="select hours">Select Hours</option>
        <option value="zero">00</option>
        <option value="one">01</option>
        <option value="two">02</option>
        <option value="three">03</option>
  <option value="four">04</option>
  <option value="five">05</option>
  <option value="six">06</option>
  <option value="seven">07</option>
  <option value="eight">08</option>
  <option value="nine">09</option>
  <option value="ten">10</option>
<option value="eleven">11</option>
<option value="twelve">12</option>
<option value="thirteen">13</option>
<option value="fourteen">14</option>
        <option value="fifteen">15</option>
        <option value="sixteen">16</option>
        <option value="seventeen">17</option>
  <option value="eighteen">18</option>
  <option value="nineteen">19</option>
  <option value="twenty">20</option>
  <option value="twentyone">21</option>
        <option value="twentytwo">22</option>
        <option value="twentythree">23</option>
        <option value="twentyfour">24</option>
        </select>
        <label for="minute">Minute</label>
        <select id="min">

   <option value="min">Select Minute</option>     
  <option value="zero">00</option>
  <option value="one">01</option>
  <option value="two">02</option>
  <option value="three">03</option>
  <option value="four">04</option>
  <option value="five">05</option>
  <option value="six">06</option>
  <option value="seven">07</option>
  <option value="eight">08</option>
  <option value="nine">09</option>
  <option value="ten">10</option>
<option value="eleven">11</option>
<option value="twelve">12</option>
<option value="thirteen">13</option>
<option value="fourteen">14</option>
        <option value="fifteen">15</option>
        <option value="sixteen">16</option>
        <option value="seventeen">17</option>
  <option value="eighteen">18</option>
  <option value="nineteen">19</option>
  <option value="twenty">20</option>
  <option value="twentyone">21</option>
        <option value="twentytwo">22</option>
        <option value="twentythree">23</option>
        <option value="twentyfour">24</option>
        <option value="twentyfive">25</option>
  <option value="twentysix">26</option>
  <option value="twentyseven">27</option>
  <option value="twentyeight">28</option>
  <option value="twentynine">29</option>
  <option value="thirty">30</option>
  <option value="thirtyone">31</option>
  <option value="thirtytwo">32</option>
<option value="thirtythree">33</option>
<option value="thirtyfour">34</option>
<option value="thirtyfive">35</option>
<option value="thirtysix">36</option>
        <option value="thirtyseven">37</option>
        <option value="thirtyeight">38</option>
        <option value="thirtynine">39</option>
  <option value="fourty">40</option>
  <option value="fourtyone">41</option>
  <option value="fourtytwo">42</option>
  <option value="fourtythree">43</option>
        <option value="fourtyfour">44</option>
        <option value="fourtyfive">45</option>
        <option value="fourtysix">46</option>
        <option value="fourtyseven">47</option>
  <option value="fourtyeight">48</option>
  <option value="fourtynine">49</option>
  <option value="fifty">50</option>
  <option value="fiftyone">51</option>
  <option value="fiftytwo">52</option>
  <option value="fiftythree">53</option>
  <option value="fiftyfour">54</option>
<option value="fiftyfive">55</option>
<option value="fiftysix">56</option>
<option value="fiftyseven">57</option>
<option value="fiftyeight">58</option>
        <option value="fiftynine">59</option>
        
</select>
</br>
</br>
<center>
<button type="create">CREATE</button>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>