

form.example input[type=text] {
	/* padding: 10px; */
	font-size: 17px;
	border: 1px solid grey;
	/* float: left; */
	width: 200px;
	height: 50px;
	background: #f1f1f1;
  }
  
  form.example button {
	/* float: left; */
	width: 20%;
	/* padding: 10px; */
	height: 50px;
	background: #01090f;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
  }
  
  form.example button:hover {
	background: #0b7dda;
  }
  
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }