*,::before,::after{
    box-sizing: border-box;
  } 
  body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #fff;
  }
  .M-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 
  .form{
    margin-top: 50px;
    width: 500px;
    padding:4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
  }
  .form__button{
    display: block;
    margin-left: auto;
    padding:.50rem 1rem;
    outline:none;
    border:none;
    background-color: #1A73E8;
    color:#fff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
  }
  .form__button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  .pre-election{
    text-align: center;
    color: #1A73E8;
    padding-bottom: 1rem;
  }
  /* for mobile view*/
  @media only screen and (max-width: 600px) {
      .M-form{
          display: flex;
          width: 70%;
          margin: 10px 0;
          font-size: 11px;
          flex-flow: row wrap;
          flex-direction: column;
       
      }
    }